
.header  {
	position: fixed;
	top: 20px;
	right: 0px;
	width: 300px;
	/*background-color: #f2ecda;*/
	


}	

.header nav a {

	text-align: center;
	padding: 10px 8px 10px 8px;
	font-family: Arial;

}

nav {
	right: 0;
}




a:hover  {

	text-decoration: underline;


}

a  {
	text-decoration: none;
	font-size: 0.8em;
	color: #666;

}

#logo  {

	text-align: center;
	
	width: 272px;
	height: 92px;

}

#logo  {


	/*border: 1px solid black; */

	margin-top: 150px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;


}

#logo img  {

	width: 100%;
}

#sch_box  {

	margin: 20px;
	width: 500px;
	height: 30px;
	/*box-shadow: 1px 1px 1px; */
}

.footer  {
	width: 100%;
	height: 40px;

	position: fixed;
	bottom: 0px;
	border-top: 1px;
	border-top-color: grey;
	background-color: #f2f2f2;
}



#signin  {


	width: 86px;
	height: 30px;
	background-color: #4387fd;
	/*border: 1px solid black;*/
	color: #fff;
	font-weight: bold;
	border-radius: 1px;
	padding: 6px 12px;
}

#search_box, p  {

	line-height: 0;
	text-align: center;
	font-family: Arial;

}



.ft_right  {


	float: right;
	margin-right: 30px;
}

span a {

	margin: 5px 5px 5px 5px;
	font-family: Arial;
}

input:focus  {
	outline: none;
}

.ft_left, .ft_right  {

position: relative;
top: 10px;


}

.ft_left   {

	margin-left: 15px;
}

.butt1  {

	border: none;
	padding: 10px 20px;
	background-color: #f2f2f2;
	border-radius: 2px;
	color: #757575;
}

.butt1:hover  {

	border: 1px solid #c6c6c6; 
	color: black;

}

p {

	margin: 30px;
	font-size: 13.5px;
}


.link12  {

	position: relative;
	bottom: 4px;
}